
<!DOCTYPE html>
<html lang="en">
<head>
    <title>dc.js - Downloading Data Table Contents</title>
    <meta charset="UTF-8">

    @*<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/dc.css" />*@

    <link rel="stylesheet" type="text/css" href="~/dcjsmaster/web/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/dcjsmaster/web/css/dc.css" />
    <style>
        #table td {
            padding-left: 10px;
        }
    </style>
</head>
<body>

    <div class="container">
        <script type="text/javascript" src="header.js"></script>
        <div id="chart-ring-year" style="width:300px; height:330px">
            <div class="reset" style="visibility: hidden;">
                selected: <span class="filter"></span>
                <a href="javascript:yearRingChart.filterAll();dc.redrawAll();">reset</a>
            </div>
        </div>
        <div id="chart-hist-spend" style="width:300px; height:330px">
            <div class="reset" style="visibility: hidden;">
                range: <span class="filter"></span>
                <a href="javascript:spendHistChart.filterAll();dc.redrawAll();">reset</a>
            </div>
        </div>
        <div id="chart-row-spenders">
            <div class="reset" style="visibility: hidden;">
                selected: <span class="filter"></span>
                <a href="javascript:spenderRowChart.filterAll();dc.redrawAll();">reset</a>
            </div>
        </div>
        <!-- not sure why all these styles necessary, not the point of this -->
        <div style="clear: both; margin: 30px; float: left">
            <div id="table"></div>
            <div id="download-type" style="clear: both; float: left">
                <div><label><input type=radio name="operation" value="raw" checked="true">&nbsp;all data</label></div>
                <div><label><input type=radio name="operation" value="table">&nbsp;table data</label></div>
            </div>
            <div style="float: left">
                <button class="btn" id="download">download</button>
            </div>
        </div>

        <script type="text/javascript" src="~/dcjsmaster/web/js/promise-polyfill.js"></script>
        <script type="text/javascript" src="~/dcjsmaster/web/js/fetch.umd.js"></script>
        <script type="text/javascript" src="~/dcjsmaster/web/js/d3.js"></script>
        <script type="text/javascript" src="~/dcjsmaster/web/js/crossfilter.js"></script>
        <script type="text/javascript" src="~/dcjsmaster/web/js/dc.js"></script>
        <script type="text/javascript" src="~/dcjsmaster/web/js/FileSaver.js"></script>

        <script type="text/javascript">
            var yearRingChart = dc.pieChart("#chart-ring-year"),
                spendHistChart = dc.barChart("#chart-hist-spend"),
                spenderRowChart = dc.rowChart("#chart-row-spenders");
            var table = dc.dataTable('#table');
            // use static or load via d3.csv("spendData.csv").then(function(spendData) {/* do stuff */});
            var spendData = [
                { Name: 'Mr A', Spent: '$40', Year: 2011 },
                { Name: 'Mr B', Spent: '$10', Year: 2011 },
                { Name: 'Mr C', Spent: '$40', Year: 2011 },
                { Name: 'Mr A', Spent: '$70', Year: 2012 },
                { Name: 'Mr B', Spent: '$20', Year: 2012 },
                { Name: 'Mr B', Spent: '$50', Year: 2013 },
                { Name: 'Mr C', Spent: '$30', Year: 2013 }
            ];
            // normalize/parse data
            spendData.forEach(function (d) {
                d.Spent = d.Spent.match(/\d+/)[0];
            });
            // set crossfilter
            var ndx = crossfilter(spendData),
                yearDim = ndx.dimension(function (d) { return +d.Year; }),
                spendDim = ndx.dimension(function (d) { return Math.floor(d.Spent / 10); }),
                nameDim = ndx.dimension(function (d) { return d.Name; }),
                spendPerYear = yearDim.group().reduceSum(function (d) { return +d.Spent; }),
                spendPerName = nameDim.group().reduceSum(function (d) { return +d.Spent; }),
                spendHist = spendDim.group().reduceCount();
            yearRingChart
              .width(300)
              .height(300)
              .dimension(yearDim)
              .group(spendPerYear)
              .innerRadius(50)
              .controlsUseVisibility(true);
            spendHistChart
              .dimension(spendDim)
              .group(spendHist)
              .x(d3.scaleLinear().domain([0, 10]))
              .elasticY(true)
              .controlsUseVisibility(true);
            spendHistChart.xAxis().tickFormat(function (d) { return d * 10 }); // convert back to base unit
            spendHistChart.yAxis().ticks(2);
            spenderRowChart
                .dimension(nameDim)
                .group(spendPerName)
                .elasticX(true)
                .controlsUseVisibility(true);
            var allDollars = ndx.groupAll().reduceSum(function (d) { return +d.Spent; });
            table
                .dimension(spendDim)
                .sortBy(function (d) { return +d.Spent; })
                .showSections(false)
                .columns(['Name',
                          {
                              label: 'Spent',
                              format: function (d) {
                                  return '$' + d.Spent;
                              }
                          },
                          'Year',
                          {
                              label: 'Percent of Total',
                              format: function (d) {
                                  return Math.floor((d.Spent / allDollars.value()) * 100) + '%';
                              }
                          }]);
            d3.select('#download')
                .on('click', function () {
                    var data = nameDim.top(Infinity);
                    if (d3.select('#download-type input:checked').node().value === 'table') {
                        data = data.sort(function (a, b) {
                            return table.order()(table.sortBy()(a), table.sortBy()(b));
                        });
                        data = data.map(function (d) {
                            var row = {};
                            table.columns().forEach(function (c) {
                                row[table._doColumnHeaderFormat(c)] = table._doColumnValueFormat(c, d);
                            });
                            return row;
                        });
                    }
                    var blob = new Blob([d3.csvFormat(data)], { type: "text/csv;charset=utf-8" });
                    saveAs(blob, 'data.csv');
                });
            dc.renderAll();
        </script>

    </div>
</body>
</html>





@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<style>

body {
  font-family: "Helvetica Neue";
  margin: 40px auto;
  width: 960px;
  min-height: 2000px;
}

#body {
  position: relative;
}

footer {
  padding: 2em 0 1em 0;
  font-size: 12px;
}

h1 {
  font-size: 96px;
  margin-top: .3em;
  margin-bottom: 0;
}

h1 + h2 {
  margin-top: 0;
}

h2 {
  font-weight: 400;
  font-size: 28px;
}

h1, h2 {
  font-family: "Yanone Kaffeesatz";
  text-rendering: optimizeLegibility;
}

#body > p {
  line-height: 1.5em;
  width: 640px;
  text-rendering: optimizeLegibility;
}

#charts {
  padding: 10px 0;
}

.chart {
  display: inline-block;
  height: 151px;
  margin-bottom: 20px;
}

.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #ccc;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

#hour-chart {
  width: 260px;
}

#delay-chart {
  width: 230px;
}

#distance-chart {
  width: 420px;
}

#date-chart {
  width: 920px;
}

#flight-list {
  min-height: 1024px;
}

#flight-list .date,
#flight-list .day {
  margin-bottom: .4em;
}

#flight-list .flight {
  line-height: 1.5em;
  background: #eee;
  width: 640px;
  margin-bottom: 1px;
}

#flight-list .time {
  color: #999;
}

#flight-list .flight div {
  display: inline-block;
  width: 100px;
}

#flight-list div.distance,
#flight-list div.delay {
  width: 160px;
  padding-right: 10px;
  text-align: right;
}

#flight-list .early {
  color: green;
}

aside {
  position: absolute;
  left: 740px;
  font-size: smaller;
  width: 220px;
}

</style>

<div id="body">

    <div id="charts">

        <div id="hour-chart" class="chart">
            <div class="title">Time of Day</div>
        </div>

        <div id="delay-chart" class="chart">
            <div class="title">Arrival Delay (min.)</div>
        </div>

        <div id="distance-chart" class="chart">
            <div class="title">Distance (mi.)</div>
        </div>

        <div id="date-chart" class="chart">
            <div class="title">Date</div>
        </div>
    </div>

    <aside id="totals"><span id="active">-</span> of <span id="total">-</span> flights selected.</aside>
    <div id="lists">
        <div id="flight-list" class="list"></div>
    </div>
    <footer>
        <span style="float:right;">
            Released under the <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache License 2.0</a>.
        </span>
        Copyright 2012 <a href="http://squareup.com">Square, Inc.</a>
    </footer>

</div>

<a href="https://github.com/square/crossfilter">
    <img style="position: absolute; top: 0; right: 0; border: 0;" 
         src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

<script src="~/CrossFilter/crossfilter.v1.min.js"></script>
<script src="~/CrossFilter/d3.v3.min.js"></script>
<script>


    var flights = { 'flights': { 'date': '01010001', 'delay': '14', 'distance': '405', 'origin': 'MCI', 'destination': 'MDW' }}
      


    //01010001, 14, 405, MCI, MDW
    //01010530, -11, 370, LAX, PHX
    //01010540, 5, 389, ONT, SMF
    //01010600, -5, 337, OAK, LAX
    //01010600, 3, 303, MSY, HOU
    //01010605, 5, 236, LAS, LAX

    debugger;

    //$.ajax({
    //    url: 'http://localhost:62633/CrossFilter/flights-3m.json',
    //    dataType: 'json',
    //    success: function (flights)
    //    {
            //var item = [];
            //$.each(data, function (key, val) {
            //    item.push('<li id="' + key + '">' + val + '</li>');
            //});
            //$('<ul/>', {
            //    'class': 'myclass',
            //    html: item.join('')
            //}).appendTo('body');

          //  var formatNumber = d3.format(",d"),
          //  formatChange = d3.format("+,d"),
          //  formatDate   = d3.time.format("%B %d, %Y"),
          //  formatTime   = d3.time.format("%I:%M %p");

          //  // A nest operator, for grouping the flight list.
          //  var nestByDate = d3.nest()
          //      .key(function (d) {
          //          return d3.time.day(d.date);
          //      });
               

          //  // A little coercion, since the CSV is untyped.
          //  //flights.flights.forEach(function (d, i) {
          //  //    d.index = i;
          //  //    d.date = parseDate(d.date);
          //  //    d.delay = +d.delay;
          //  //    d.distance = +d.distance;
          //  //});

          //  // Create the crossfilter for the relevant dimensions and groups.
          //var flight = crossfilter(flights.flights),
          //      all = flight.groupAll(),
          //      date = flight.dimension(function (d) { return d.date; }),
          //      dates = date.group(d3.time.day),
          //      hour = flight.dimension(function (d) { return d.date.getHours() + d.date.getMinutes() / 60; }),
          //      hours = hour.group(Math.floor),
          //      delay = flight.dimension(function (d) { return Math.max(-60, Math.min(149, d.delay)); }),
          //      delays = delay.group(function (d) { return Math.floor(d / 10) * 10; }),
          //      distance = flight.dimension(function (d) { return Math.min(1999, d.distance); }),
          //      distances = distance.group(function (d) { return Math.floor(d / 50) * 50; });

          //  var charts = [

          //    barChart()
          //        .dimension(hour)
          //        .group(hours)
          //      .x(d3.scale.linear()
          //        .domain([0, 24])
          //        .rangeRound([0, 10 * 24])),

          //    barChart()
          //        .dimension(delay)
          //        .group(delays)
          //      .x(d3.scale.linear()
          //        .domain([-60, 150])
          //        .rangeRound([0, 10 * 21])),

          //    barChart()
          //        .dimension(distance)
          //        .group(distances)
          //      .x(d3.scale.linear()
          //        .domain([0, 2000])
          //        .rangeRound([0, 10 * 40])),

          //    barChart()
          //        .dimension(date)
          //        .group(dates)
          //        .round(d3.time.day.round)
          //      .x(d3.time.scale()
          //        .domain([new Date(2001, 0, 1), new Date(2001, 3, 1)])
          //        .rangeRound([0, 10 * 90]))
          //        .filter([new Date(2001, 1, 1), new Date(2001, 2, 1)])

          //  ];

          //  // Given our array of charts, which we assume are in the same order as the
          //  // .chart elements in the DOM, bind the charts to the DOM and render them.
          //  // We also listen to the chart's brush events to update the display.
          //  var chart = d3.selectAll(".chart")
          //      .data(charts)
          //      .each(function (chart) { chart.on("brush", renderAll).on("brushend", renderAll); });

          //  // Render the initial lists.
          //  var list = d3.selectAll(".list")
          //      .data([flightList]);

          //  // Render the total.
          //  d3.selectAll("#total")
          //      .text(formatNumber(flight.size()));

          //  renderAll();

          //  // Renders the specified chart or list.
          //  function render(method) {
          //      d3.select(this).call(method);
          //  }

          //  // Whenever the brush moves, re-rendering everything.
          //  function renderAll() {
          //      chart.each(render);
          //      list.each(render);
          //      d3.select("#active").text(formatNumber(all.value()));
          //  }

          //  // Like d3.time.format, but faster.
          //  function parseDate(d) {
          //      return new Date(2001,
          //          d.substring(0, 2) - 1,
          //          d.substring(2, 4),
          //          d.substring(4, 6),
          //          d.substring(6, 8));
          //  }

          //  window.filter = function (filters) {
          //      filters.forEach(function (d, i) { charts[i].filter(d); });
          //      renderAll();
          //  };

          //  window.reset = function (i) {
          //      charts[i].filter(null);
          //      renderAll();
          //  };

          //  function flightList(div) {
          //      var flightsByDate = nestByDate.entries(date.top(40));

          //      div.each(function ()
          //      {
          //          var date = d3.select(this).selectAll(".date")
          //              .data(flightsByDate, function (d) { return d.key; });

          //          date.enter().append("div")
          //              .attr("class", "date")
          //            .append("div")
          //              .attr("class", "day")
          //              .text(function (d) { return formatDate(d.values[0].date); });

          //          date.exit().remove();

          //          var flight = date.order().selectAll(".flight")
          //              .data(function (d) { return d.values; }, function (d) { return d.index; });

          //          var flightEnter = flight.enter().append("div")
          //              .attr("class", "flight");

          //          flightEnter.append("div")
          //              .attr("class", "time")
          //              .text(function (d) { return formatTime(d.date); });

          //          flightEnter.append("div")
          //              .attr("class", "origin")
          //              .text(function (d) { return d.origin; });

          //          flightEnter.append("div")
          //              .attr("class", "destination")
          //              .text(function (d) { return d.destination; });

          //          flightEnter.append("div")
          //              .attr("class", "distance")
          //              .text(function (d) { return formatNumber(d.distance) + " mi."; });

          //          flightEnter.append("div")
          //              .attr("class", "delay")
          //              .classed("early", function (d) { return d.delay < 0; })
          //              .text(function (d) { return formatChange(d.delay) + " min."; });

          //          flight.exit().remove();

          //          flight.order();
          //      });
          //  }

          //  function barChart() {
          //      if (!barChart.id) barChart.id = 0;

          //      var margin = { top: 10, right: 10, bottom: 20, left: 10 },
          //          x,
          //          y = d3.scale.linear().range([100, 0]),
          //          id = barChart.id++,
          //          axis = d3.svg.axis().orient("bottom"),
          //          brush = d3.svg.brush(),
          //          brushDirty,
          //          dimension,
          //          group,
          //          round;

          //      function chart(div) {
          //          var width = x.range()[1],
          //              height = y.range()[0];

          //          y.domain([0, group.top(1)[0].value]);

          //          div.each(function () {
          //              var div = d3.select(this),
          //                  g = div.select("g");

          //              // Create the skeletal chart.
          //              if (g.empty()) {
          //                  div.select(".title").append("a")
          //                      .attr("href", "javascript:reset(" + id + ")")
          //                      .attr("class", "reset")
          //                      .text("reset")
          //                      .style("display", "none");

          //                  g = div.append("svg")
          //                      .attr("width", width + margin.left + margin.right)
          //                      .attr("height", height + margin.top + margin.bottom)
          //                    .append("g")
          //                      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

          //                  g.append("clipPath")
          //                      .attr("id", "clip-" + id)
          //                    .append("rect")
          //                      .attr("width", width)
          //                      .attr("height", height);

          //                  g.selectAll(".bar")
          //                      .data(["background", "foreground"])
          //                    .enter().append("path")
          //                      .attr("class", function (d) { return d + " bar"; })
          //                      .datum(group.all());

          //                  g.selectAll(".foreground.bar")
          //                      .attr("clip-path", "url(#clip-" + id + ")");

          //                  g.append("g")
          //                      .attr("class", "axis")
          //                      .attr("transform", "translate(0," + height + ")")
          //                      .call(axis);

          //                  // Initialize the brush component with pretty resize handles.
          //                  var gBrush = g.append("g").attr("class", "brush").call(brush);
          //                  gBrush.selectAll("rect").attr("height", height);
          //                  gBrush.selectAll(".resize").append("path").attr("d", resizePath);
          //              }

          //              // Only redraw the brush if set externally.
          //              if (brushDirty) {
          //                  brushDirty = false;
          //                  g.selectAll(".brush").call(brush);
          //                  div.select(".title a").style("display", brush.empty() ? "none" : null);
          //                  if (brush.empty()) {
          //                      g.selectAll("#clip-" + id + " rect")
          //                          .attr("x", 0)
          //                          .attr("width", width);
          //                  } else {
          //                      var extent = brush.extent();
          //                      g.selectAll("#clip-" + id + " rect")
          //                          .attr("x", x(extent[0]))
          //                          .attr("width", x(extent[1]) - x(extent[0]));
          //                  }
          //              }

          //              g.selectAll(".bar").attr("d", barPath);
          //          });

          //          function barPath(groups) {
          //              var path = [],
          //                  i = -1,
          //                  n = groups.length,
          //                  d;
          //              while (++i < n) {
          //                  d = groups[i];
          //                  path.push("M", x(d.key), ",", height, "V", y(d.value), "h9V", height);
          //              }
          //              return path.join("");
          //          }

          //          function resizePath(d) {
          //              var e = +(d == "e"),
          //                  x = e ? 1 : -1,
          //                  y = height / 3;
          //              return "M" + (.5 * x) + "," + y
          //                  + "A6,6 0 0 " + e + " " + (6.5 * x) + "," + (y + 6)
          //                  + "V" + (2 * y - 6)
          //                  + "A6,6 0 0 " + e + " " + (.5 * x) + "," + (2 * y)
          //                  + "Z"
          //                  + "M" + (2.5 * x) + "," + (y + 8)
          //                  + "V" + (2 * y - 8)
          //                  + "M" + (4.5 * x) + "," + (y + 8)
          //                  + "V" + (2 * y - 8);
          //          }
          //      }

          //      brush.on("brushstart.chart", function () {
          //          var div = d3.select(this.parentNode.parentNode.parentNode);
          //          div.select(".title a").style("display", null);
          //      });

          //      brush.on("brush.chart", function () {
          //          var g = d3.select(this.parentNode),
          //              extent = brush.extent();
          //          if (round) g.select(".brush")
          //              .call(brush.extent(extent = extent.map(round)))
          //            .selectAll(".resize")
          //              .style("display", null);
          //          g.select("#clip-" + id + " rect")
          //              .attr("x", x(extent[0]))
          //              .attr("width", x(extent[1]) - x(extent[0]));
          //          dimension.filterRange(extent);
          //      });

          //      brush.on("brushend.chart", function () {
          //          if (brush.empty()) {
          //              var div = d3.select(this.parentNode.parentNode.parentNode);
          //              div.select(".title a").style("display", "none");
          //              div.select("#clip-" + id + " rect").attr("x", null).attr("width", "100%");
          //              dimension.filterAll();
          //          }
          //      });

          //      chart.margin = function (_) {
          //          if (!arguments.length) return margin;
          //          margin = _;
          //          return chart;
          //      };

          //      chart.x = function (_) {
          //          if (!arguments.length) return x;
          //          x = _;
          //          axis.scale(x);
          //          brush.x(x);
          //          return chart;
          //      };

          //      chart.y = function (_) {
          //          if (!arguments.length) return y;
          //          y = _;
          //          return chart;
          //      };

          //      chart.dimension = function (_) {
          //          if (!arguments.length) return dimension;
          //          dimension = _;
          //          return chart;
          //      };

          //      chart.filter = function (_) {
          //          if (_) {
          //              brush.extent(_);
          //              dimension.filterRange(_);
          //          } else {
          //              brush.clear();
          //              dimension.filterAll();
          //          }
          //          brushDirty = true;
          //          return chart;
          //      };

          //      chart.group = function (_) {
          //          if (!arguments.length) return group;
          //          group = _;
          //          return chart;
          //      };

          //      chart.round = function (_) {
          //          if (!arguments.length) return round;
          //          round = _;
          //          return chart;
          //      };

          //      return d3.rebind(chart, brush, "on");
          //  }

        //},
        //statusCode: {
        //    404: function () {
        //        alert("some problem");
        //    }
        //},
    //});


    //C:\Users\paulo.natale\Desktop\GITPAULO\SDM.WEB\SDM.WEB\CrossFilter\flights-3m.json
    // (It's CSV, but GitHub Pages only gzip's JSON at the moment.)
    //d3.csv("/CrossFilter/flights-3m.json", function (error, flights) {
              
        // Various formatters.
        
        
    //});

        

</script>



    @*<div class="container" style="background-color:whitesmoke;width:100%;height:600px;margin:2% 2% 2% 10%">

            <div id="ChartGraficoPrincipal"
                 style="float: left;
                        margin-left: -10px;
                        width: 383px;
                        margin-top: -16px;
                        height: 385px;
                        background-color: white;"></div>

        </div>*@


    @*<script src="~/js/jquery-3.2.1.js"></script>
        <script src="~/js/angular.js"></script>
        <script src="~/js/bootstrap.js"></script>
        <script src="~/js/Chart.js"></script>
        <script src="~/js/fusioncharts.js"></script>
        <script src="~/js/fusioncharts.charts.js"></script>
        <script src="~/js/angular-fusioncharts.min.js"></script>
        <script src="~/js/fusioncharts.theme.fint.js"></script>
        <script src="~/js/ui-grid.js"></script>
        <script src="~/js/angular-block-ui.js"></script>
        <script src="~/js/angular-cookies.js"></script>

        <style type="text/css">
            body{margin-top:50px;}
           .glyphicon { margin-right:10px; }
           .panel-body { padding:0px; }
           .panel-body table tr td { padding-left: 15px }
           .panel-body .table {margin-bottom: 0px; }
        </style>

        <script>

            //function liga() {

            //    if (document.getElementsByClassName("panel-collapse in")[0] != null) {
            //        $("#collapseOne").collapse('hide');
            //    } else {
            //        $("#collapseOne").collapse('show');
            //    }
            //}

            //$(document).ready(function () {
            //    $("#collapseOne").on("hide.bs.collapse", function () {
            //        //$(".btn").html('<span class="glyphicon glyphicon-collapse-down"></span> Open');
            //       alert()
            //    });
            //    $("#collapseOne").on("show.bs.collapse", function () {
            //        //$(".btn").html('<span class="glyphicon glyphicon-collapse-up"></span> Close');
            //    });
            //});


        </script>


        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

        <!------ Include the above in your HEAD tag ---------->
        @*class="container"

        <div  style="float: left;  margin-top: 30px;  width: 100%;    margin-left: -1px;">
            <div class="row">
                <div class="col-sm-3 col-md-3">

                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        <span class="glyphicon glyphicon-folder-close">
                                        </span>Content
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne"  class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://www.jquery2dotnet.com">Articles</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-flash text-success"></span><a href="http://www.jquery2dotnet.com">News</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-file text-info"></span><a href="http://www.jquery2dotnet.com">Newsletters</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-comment text-success"></span><a href="http://www.jquery2dotnet.com">Comments</a>
                                                <span class="badge">42</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a  data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                        <span class="glyphicon glyphicon-th">
                                        </span>Modules
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <a href="http://www.jquery2dotnet.com">Orders</a> <span class="label label-success">$ 320</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="http://www.jquery2dotnet.com">Invoices</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="http://www.jquery2dotnet.com">Shipments</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="http://www.jquery2dotnet.com">Tex</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                        <span class="glyphicon glyphicon-user">
                                        </span>Account
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <a href="http://www.jquery2dotnet.com">Change Password</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="http://www.jquery2dotnet.com">Notifications</a> <span class="label label-info">5</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="http://www.jquery2dotnet.com">Import/Export</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com" class="text-danger">
                                                    Delete Account
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFor">
                                        <span class="glyphicon glyphicon-globe">
                                        </span>Ocorrencias por Localidades
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFor" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <a href="http://www.jquery2dotnet.com">Change Password</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="http://www.jquery2dotnet.com">Notifications</a> <span class="label label-info">5</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="http://www.jquery2dotnet.com">Import/Export</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com" class="text-danger">
                                                    Delete Account
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                        <span class="glyphicon glyphicon-map-marker">
                                        </span>Maps Geolocalização
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <a href="http://www.jquery2dotnet.com">Change Password</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="http://www.jquery2dotnet.com">Notifications</a> <span class="label label-info">5</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="http://www.jquery2dotnet.com">Import/Export</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com" class="text-danger">
                                                    Delete Account
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                        <span class="glyphicon glyphicon-file">
                                        </span>Relatorios
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseSix" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-usd"></span><a href="http://www.jquery2dotnet.com">Sales</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                                        <span class="glyphicon glyphicon-earphone">
                                        </span>Contatos
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseSeven" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-usd"></span><a href="http://www.jquery2dotnet.com">Sales</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-sm-9 col-md-9">
                    <div class="well">
                        <h1>
                            Accordion Menu With Icon
                        </h1>
                        Admin Dashboard Accordion Menu
                    </div>
                </div>

            </div>
        </div>*@

    @*<!DOCTYPE html>
        <html>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
            <style>
                /* Icon when the collapsible content is shown */
                .btn:after {
                    font-family: "Glyphicons Halflings";
                    content: "\e114";
                    float: right;
                    margin-left: 15px;
                }
                /* Icon when the collapsible content is hidden */
                .btn.collapsed:after {
                    content: "\e080";
                }
            </style>
        </head>
        <body>

            <div class="container">
                <h2>Simple Collapsible</h2>
                <button type="button" class="btn btn-lg btn-info collapsed" data-toggle="collapse" data-target="#demo">Simple collapsible</button>
                <div id="demo" class="collapse">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>

        </body>
        </html>*@
